/*
Eerie Black: #131515
Jet: #2B2C28
Persian Green: #339989
Middle Blue Green: #7DE2D1
Snow: #FFFAFB
*/

html {
  font-family: 'Ubuntu Mono', monospace;
}
img {
  max-width: 90%;
}
a {
    text-decoration: none;
    color: #339989;
    font-weight: 400;
}
a:hover {
  opacity: 0.5;
}
.paragraph {
  line-height: 1.8em;
  font-weight: 400;
}
.title {
  text-transform: uppercase;
  text-align: center;
}
.title-item {
  /*border-bottom-style: solid;
  border-width: 2px;
  border-color: #ef626c;*/
  border-bottom: solid 2px #ef626c;
  font-size: 1.3em;
  padding-bottom: 1em;
}
.main-image {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  height: 150px;
  border-radius: 10px;
}
.container {
  background: #339989; /* fallback */
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  height: 100vh;
  display: flex; /*Los nodos dentro adoptan como herramienta de posición: flexbox*/
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 70vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  padding: 1.8em;
  overflow-x: hidden;
  overflow-y: scroll;
}
.content {
  padding: 1em;
}
td {
  display: block;
  width: 100%;
}
/* permite elegir un elemento basado en su posición cunado está a lado de otras etiquetas del mismo tipo*/
  td:nth-of-type(1) {
  font-size: 1.5em;
  font-weight: 700;
  color: #ef626c;
}
th {
  display: none;
}
.text {
  text-align: justify;
  padding-left:1em;
  padding-right: 1em;
}
.actions {
  position: absolute;
  top: 1.8em;
  right: 1.5em;
}
.close {
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
  background-color: #ef626c;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}
.fa-star {
    color: #ef626c;
}
.table {
  width: 100%;
  border-spacing: 0px;
}

.table td, .table th {
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: rgba(125, 226, 209, 0.3);
}
.position {
  background-color: #ef626c;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: 0.2em;
  margin-left: 0.8em;
}

@media (min-width: 900px) {
 th {
   display: table-cell;
 }
 td {
   width: auto;
   display: table-cell;
 }
 td:nth-of-type(1) {
   font-size: 1em;
   color: inherit;
   font-weight: 400;
 }
 .content {
   padding: 1.8em;
   overflow-x: hidden;
   overflow-y: hidden;
 }
 .title-item {
   font-size: 2em;
 }
 .table td, .table th {
   font-size: 1.1em;
   padding: 2em;
   text-align: center;
 }
 .position {
   margin-left: 0.5em;
 }
 .actions {
   position: absolute;
   top: 1.5em;
   right: 1.5em;
 }
 .close {
   height: 25px;
   width: 25px;
}

@media (min-height: 550px) {
  .content {
    height: 500px;
  }
}
